:root {
    --background-white:#FFFFFF;
    --main-colour: #495E57;
    --alert-yellow: #F4CE14;
    --background-grey: #EDEFEE;

}
body {
    background-color:var(--background-white);
    font-family:Georgia, 'Times New Roman', Times, serif;
   
}

h1 {
    font-size: 2.5rem;
}

h2{
    font-size: 1.5rem;
}

p{
    font-size: 1rem;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
}

section {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
}

#hero {
    margin-top: 0;
    background-color: var(--main-colour);
    color: var(--background-white);
   
    
    
}


.hero-row {
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.littlelemonphoto img {
    max-height:280px;
}


.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: var(--main-colour);
}

.dropdown-item:hover {
    background-color: var(--alert-yellow);
}

#reservation-banner {
    margin-top:0;
    background-color: var(--alert-yellow);
    background-image: url(assets/seats.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-grey);
}

.form-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-weight: bold;
}

.form-row input, .form-row textarea, .form-row select {
    background-color: var(--background-grey);
}

.form-row p {
    text-align: justify;
}

.article img {
    max-height: 170px;
    width: 100%;
}

.article {
    margin-bottom:0.5rem;
}

.card {
    margin: 1rem;
    padding: 0;
    
}

.card img {
    width: fit-content;

}

.food-detail {
    padding: 1rem;
}

.food, .reviewcart {
    display: flex;
    justify-content: space-between;
    
}

.food .alert {
    padding: 0.05rem;
}

.food-detail p {
    font-size: 0.8rem;
}

.food h2 {
    font-weight:bolder;
}

.reviewcart h2 {
    background-color: var(--background-grey);
    color:black;
    font-size: 1rem;
    padding: 0.4rem;
    

}

.reviewcart h2:hover {
    background-color: var(--alert-yellow);

}

    
.article-description {
    background-color: var(--background-grey);
    padding: 1rem;
    
        
}

.alert {
    width:fit-content;
    background-color:var(--alert-yellow);
}


#testimonials {
    display: flex;
    flex-wrap: wrap;
    text-align: center;

}

.testimonial {
    background-color: var(--background-grey);
    margin: 0.5rem;
    text-align: left;
    height: fit-content;
}

.testimonial img {
    height: 4rem;
    margin-top: 1rem;
    background-color: var(--background-white);

    border-radius: 10%;
}

#about{
    background-color: var(--alert-yellow);
    margin-bottom: 0;
    
}

footer {
    background-color: var(--main-colour);
}
footer .row {

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.5rem;
    padding: 1rem;
}
footer ul {
    list-style: none;
}

footer .row img {
    padding: 0.5rem;
    background-color: var(--background-white);
}
.lihead {
    font-size: larger;
    font-weight: bold;
}

